body{
	background: linear-gradient(90deg,white,lightgreen);

}

#alura-logo {
    position: absolute;
    top: 15px;
    right: 15px;
}
h1 {
    font-family: cursive;
    font-style: bold;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
}
              
              
.surprise:hover{
    animation-name: surprise;
        -webkit-animation-name: surprise;
        -moz-animation-name: surprise;
    animation-duration: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
}

    @keyframes surprise
    {
        0% {transform: rotate(0deg) scale(1,1);;}
        10% {transform: rotate(7deg) scale(2,2);}
        20% {transform: rotate(-7deg) scale(2,2);}
        30% {transform: rotate(7deg) scale(2,2);}
        40% {transform: rotate(-7deg) scale(2,2);}
        50% {transform: rotate(7deg) scale(2,2);}
        60% {transform: rotate(-7deg) scale(2,2);}
        70% {transform: rotate(7deg) scale(2,2);}
        80% {transform: rotate(-7deg) scale(2,2);}
        90% {transform: rotate(7deg) scale(2,2);}
        100% {transform: rotate(0deg) scale(1,1);}
    }
              
            

.textarea, .textArea{
	width: 50%;
    float: left;
    display: grid;
    place-items: center;
    border-radius: 2.5px;
    

}
.muestratexto, .muestraTexto {
	width: 50%;
    float: right;
    display: grid;
    place-items: center;
    border-radius: 2.5px;
    background-position: 50% 50%;
    background-size: 50%;

}
footer, .eslogan{
	text-align: center;
    margin-bottom: 1em;
    text-shadow: black;
    font-family: cursive;
    font-size: 1em;

}
.rodapie{
	text-align: center;
    width: 125px;
    transition: 1s;
}
.descripcion,
label {
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    padding: 1em;
   }
.container {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#input-text,
#encrypted-text {
    width: 80%;
    border-radius: 4px;
}

#botonEncriptar,#botonDesencriptar,#boton-copiar, #boton-borrar {
    width: 160px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(92, 89, 89);
    color: #FFFFFF;
    font-weight: lighter;
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    margin: 20px 15px;
    box-shadow: -5px -5px 10px 2px black;
    transition: 500ms;
}
#boton-copiar, #boton-borrar{
  
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#boton-copiar:hover, 
#boton-borrar:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              
   
}
/* CSS para movil */

@media screen and (max-width: 480px) {
    .textArea, .muestraTexto, .rodapie, h1{
        width: 90%;
    }

    .textArea > label, .muestraTexto > label, .container, .descripcion{
        margin: 1em;
    }

    #boton-desencriptar, #boton-copiar{
        margin-bottom: 1em;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .textArea, .muestraTexto, .rodapie{
        width: 90%;
    }

    .textArea > label, .muestratexto > label, .container, .descripcion{
        margin: 1em;
    }

    #boton-desencriptar, #boton-copiar{
        margin-bottom: 1em;
    }
}